# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.crf
*.d
*.iex

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MDK Project
*.bat
JLinkLog.txt
*.Bak
*.dep
*.htm
*.map
*.axf
*.uvoptx
*.lnp
debug.ini
JLinkSettings.ini
*.uvguix.*
*.dbgconf
*.lst

# CubeMX Project
*.mxproject
*.scratch

# VScode
*.json